node_modules
npm-debug.log*
yarn-error.log*
dist
out-tsc
coverage
.nx
.angular
.cache
tmp
bazel-out
*.tsbuildinfo
.idea
.vscode
.history
*.sublime-workspace
*.launch
.project
.classpath
.settings
.c9
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
.cursor
.git
.gitignore
Dockerfile*
compose.yml 