# Build e cache
/dist/
/out-tsc/
/coverage/
/.nx/
/.angular/
/.cache/
tmp/
bazel-out/
*.tsbuildinfo

# Node
/node_modules/
npm-debug.log*
yarn-error.log*

# IDEs e editores
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.sublime-workspace
*.launch
.project
.classpath
.settings/
.c9/

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# Cursor
.cursor/
